.forgotpassword-custom-heading {
  margin: 4rem 0;
  /* my="16" corresponds to margin of 16 * 4px = 64px, i.e., 4rem */
  text-transform: uppercase;
  text-align: center;
  /* Default text-align for small screens */
  font-weight: bolder;
  font-size: 2rem;

  /* Responsive design */
  @media (min-width: 768px) {
    font-size: 2.25rem;
    /* Equivalent to lg size in Chakra UI */
    text-align: left;
    /* Align text to the left on larger screens */
  }
}


.forgotpassword-button {
  padding: 5px 24px;
  font-size: 18px;
  /* equivalent to lg size */
  background-color: #ECC94B;
  color: black;
  border: none;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forgotpassword-button:hover {
  background-color: #D69E2E;
}





.forgotpassword-custom-input {
  width: 100%;
  padding: 12px 16px;
  font-size: 1rem;
  border: 2px solid #e2e8f0;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.forgotpassword-custom-input:focus {
  border-color: #ECC94B;
  box-shadow: 0 0 0 2px rgba(236, 201, 75, 0.5);
}

.forgotpassword-custom-input::placeholder {
  color: #a0aec0;
}

.forgotpassword-custom-input:required {
  box-shadow: none;
}



.forgotpassword-vstack {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.forgotpassword-container {
  padding: 5rem  14rem;
  height: 90vh;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

@media screen and (max-width: 700px) {
  .forgotpassword-container {
    padding: 8rem 2rem;
  }
}